@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@100&display=swap');
/* tags */
*{
    box-sizing: border-box;
    font-family: 'Livvic', sans-serif;
}
html, body
{
    padding:0;
    margin:0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}
footer{
    text-align: center;
    padding: 30px 0 10px 0;
    color: #070b3b;
    font-size: 15px;
}
footer a{
    text-decoration: none;
    color: inherit;
}
figcaption
{
    font-weight: bold;
}
table{
    width: 100%;
}
th{
    background: #0071dc;
    padding: 10px 0;
    color: #070b3b;
    text-transform: uppercase;
    /* border-top: 2px solid #070b3b;
    border-bottom: 2px solid #070b3b; */
}
td
{
    text-align: right;
    padding:5px;
    background: rgba(0, 0, 0, 0.1);
}
/* classes */
.bankDetail
{
    text-align: right;
}
 .bankDetail, .clientDetail
{
    text-transform: capitalize;
    color: #070b3b;
    line-height: 10%;
    padding: 10px;
}
.container{
    width: 90vw;
    box-sizing: border-box;
}
.f-20
{
    position: absolute;
    left: 30px;
    top: 0;
    font-size: 70px;
    line-height: 10%;
    
}
.header
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    background: #070b3b;
    color: #fff;
    position: relative;
    border-bottom: 8px solid #0071dc;
}
.img-fluid
{
    width: 100px;
    height: auto;
}
.inv-no
{
    color: #0071dc;
    font-size: 20px;
}
.invoiceDetail
{
    padding: 20px 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.lead
{
    font-weight: bolder;
    color: #0071dc;
    text-transform:uppercase;
}
.logo
{
    position: absolute;
    right: 0px;
    top: 0px;
}
.nothing
{
    visibility: hidden;
}
.print-btn{
    padding: 10px 20px;
    background: #070b3b;
    color: white;
    font-family: 'Livvic', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    border: none;
}
.print-btn:hover{
    background:#0071dc;
}
.section-white{
    height: 100px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-size: 16px;
}
.services
{
    background: #0071dc;
    padding: 10px 0;
    color: #070b3b;
    text-transform: uppercase;
    /* border-top: 2px solid #070b3b;
    border-left: 2px solid #070b3b; */
    border-bottom: none;
}
.total
{
    background: #0071dc;
    padding: 10px 5px;
    color: #070b3b;
    font-weight: bolder;
    text-align: right;
    text-transform: uppercase;
    /* border-top: 2px solid #070b3b;
    border-bottom: 2px solid #070b3b; */
}
.tr-1
{
    background: #0071dc;
    padding: 10px 5px;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    /* border-right:2px solid #070b3b ;
    border-left:2px solid #070b3b ; */
    width: 30%;
}
@media(max-width:500px)
{
    .f-20
    {
        font-size: 30px;
    }
    .invoiceDetail
    {
        display: initial;
    }
}